@import "/css/ext/bulma.min.css";
@import "/css/ext/materialdesignicons.min.css";

div.navbar-item a {
    color: black;
}

.hero.is-info {
    background-color: #3e8ed0;
    color: #fff;
}
.hero.is-info h1, .hero.is-info h2, .hero.is-info p {
    color: #fff;
}
.hero.is-info.is-bold {
    background-image: linear-gradient(
        141deg,
        #208fbc 0%,
        hsl(207, 61%, 53%) 71%,
        #4d83db 100%
    );
}

.hero.is-primary {
    background-color: #00a7d6;
    color: #fff;
}
.hero.is-primary h1, .hero.is-primary h2, .hero.is-primary p {
    color: #fff;
}
.hero.is-primary.is-bold {
    background-image: linear-gradient(
        141deg,
        #009aa3 0%,
        #00a7d6 71%,
        #0093f0 100%
    );
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 1000;
}

h1,
h2,
h3,
h4,
p {
    margin: 1rem 0;
}

ul, dl {
    list-style-type: disc;
}

ul ul {
    margin-left: 1rem;
}

.card {
    user-select: none;
    border: 1px dashed rgba(0, 0, 0, 0);
    transition: box-shadow 0.4s, border 0.2s;
}

.card:hover {
    filter: contrast(120%);
    transition: box-shadow 0.4s, background-color 0.3s, border 0.2s;
    box-shadow: black 0 0px 45px -30px;
    border: 1px solid darkgray;
}

.card:active {
    filter: contrast(180%);
    transition: height 0.1s, width 0.1s, margin 0.1s, box-shadow 0.4s;
    height: calc(100% - 8px);
    border: 1px dashed #000000;
    box-shadow: black 0 0px 66px -27px;
    top: 1px;
}

div.img-shadow img {
    box-shadow: 0 0 52px -31px #000;
    border-radius: 12px;
}
