{{ define "main" }}
<section class="hero is-info is-bold">
  <div class="hero-body">
    <p class="title">FlatTrack</p>
    <p class="subtitle">Collaborate with your flatmates</p>
  </div>
</section>
<section class="hero is-light is-bold">
  <div class="container">
    <section class="section is-paddingless">
      <div class="container">
        <nav
          class="breadcrumb is-medium has-arrow-separator"
          aria-label="breadcrumbs"
        >
          <ul>
            <li><a href="/">Home</a></li>
            <li class="is-active"><a>{{ .Title }}</a></li>
          </ul>
        </nav>
        <h1 class="title is-1">{{ .Title }}</h1>
        {{ range $item := .Pages.ByDate.Reverse }}
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-context">
                <a href="{{ .RelPermalink }}" class="title is-5">{{ .Title }}</a>
                <p>{{ .Date.Format ( .Site.Params.dateformat | default "2006-01-02") }}
                  -
                {{ .ReadingTime }} min read</p>

                <p class="">"{{ .Summary | emojify }}"</p>
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </section>
</section>
{{ end }}
