{{ define "title" }} {{ .Site.Title }} &mdash; {{ .Title }} {{ end }} {{ define
"main" }}
<section class="hero is-info is-bold">
  <div class="hero-body">
    <p class="title">FlatTrack</p>
    <p class="subtitle">Collaborate with your flatmates</p>
  </div>
</section>
<section class="hero">
  <div class="hero-body pb-0">
    <div class="container">
      <nav
        class="breadcrumb is-medium has-arrow-separator"
        aria-label="breadcrumbs"
      >
        <ul>
          <li><a href="/blog">Blog</a></li>
          <li class="is-active"><a>{{ .Title }}</a></li>
        </ul>
      </nav>
      <h1 class="title is-1">{{ .Title }}</h1>
      <h2 class="subtitle is-4">{{ .Params.subtitle }}</h2>
      <p class="subtitle is-4">
        By
          <a href="{{ default .Site.Params.authorURL .Params.authorURL }}">{{ default .Site.Params.author .Params.author }}</a>
      </p>
      <p>
        {{ .Date.Format ( .Site.Params.dateformat | default "2006-01-02") }}
      </p>
      <p>{{ .ReadingTime }} min read</p>
    </div>
  </div>
</section>
<div class="container">
  <section class="section">
    <div class="content is-medium img-shadow">
      {{ .Content | emojify }}
    </div>
  </section>
</div>

{{ end }}
