<!DOCTYPE html>
<html data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    {{- if (not hugo.IsServer) }}
    <script defer data-domain="flattrack.io" src="https://plausible.io/js/script.js"></script>
    {{- end }}
    <script defer src="/scripts/a-target-blank-ext.js"></script>
    <script defer src="/scripts/navbar.js"></script>
  </head>
  <body>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-start">

          {{ range .Site.Menus.main }}
          <div class="navbar-item {{- if .HasChildren }} is-hoverable has-dropdown{{ end }}">
            <a class="{{- if .HasChildren }}navbar-link{{- end }}" href="{{ .URL }}">
              {{ .Name }}
            </a>
            {{ if .HasChildren }}
            <div class="navbar-dropdown">
              {{ range .Children }}
              <a class="navbar-item" href="{{ .URL }}">
                {{ .Name }}
              </a>
              {{ end }}
            </div>
            {{ end }}
          </div>
          {{ end }}
        </div>
    </nav>
    {{ block "main" . }} {{ end }} {{ block "footer" . }}
    <footer class="footer is-white">
      <div class="content is-medium has-text-centered">
        <p>
          <b>FlatTrack</b> by
          <a href="https://calebwoodbine.nz">Caleb Woodbine</a>.
        </p>
        <div class="app-header-social">
          <p class="is-size-4">Socials
            {{- range .Site.Params.social }}
            <a class="p-1 is-size-4" id="footer-social-{{ .name }}" target="_blank" href="{{ .url }}" rel="noreferrer noopener {{ if (eq .rel "me") }}me{{- end }}">{{ (printf ":%v:" .icon | emojify ) }}</a>
            {{- end }}
          </p>
        </div>
      </div>
    </footer>
    {{ end }}
  </body>
</html>
