{{ define "main" }}
<section class="hero is-info is-medium is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="section">
        <h1 class="title is-1">FlatTrack</h1>
        <h2 class="subtitle is-3">Collaborate with your flatmates</h2>
      </div>
    </div>
  </div>
</section>
<section class="hero is-light is-bold">
  <div class="hero-body">
    <div class="container">
      <section class="section">
        <div class="content is-medium">
          <h1 class="title is-1">Latest Post</h1>
          {{ range first 1 (where .Paginator.Pages "Type" "!=" "page") }}
          <p>
            <a class="posts-list-item-title" href="{{ .RelPermalink }}">{{ print ":memo:" | emojify }} {{ .Title }}</a>
            -
            {{ .PublishDate.Format "Jan 2, 2006" }}
          </p>
          {{ end }}
          <a class="button is-text" href="/blog">More posts</a>
        </div>
      </section>
    </div>
  </div>
</section>
<section class="hero is-light is-bold">
  <div class="hero-body">
    <div class="container">
      <section class="section">
        <h1 class="title is-2">Features</h1>
        <h2 class="subtitle is-4">What FlatTrack will do</h2>
          {{- range $.Params.features }}
          <div class="mb-5">
            <div
              class="card"
              style="opacity: {{ .opacity }};"
            >
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <span class="icon-text">
                      <span class="icon is-medium">
                        <i class="mdi mdi-36px mdi-{{ .icon }}"></i>
                      </span>
                    </span>
                  </div>
                  <div class="media-content">
                    <p
                      class="title is-3 m-0"
                      class="{{- if .unavailable }}has-text-grey{{- end }}"
                    >
                      {{ .name }}
                    </p>
                    <p
                      class="subtitle is-5 m-0"
                      class="{{- if .unavailable }}has-text-grey{{- end }}"
                    >
                      {{ .shortDescription }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="notification">
                  <div class="content">
                    <p
                      class="subtitle is-5 m-0"
                      class="{{- if .unavailable }}has-text-grey{{- end }}"
                    >
                      {{ .description }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{- end }}
        <p class="subtitle is-6">Note: features are subject to change</p>
      </section>
    </div>
  </div>
</section>
<section class="hero is-small is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">The Goals of FlatTrack</h1>
      <div class="content">
        <dl class="is-large">
          <li class="subtitle is-5">
            to make it easier to manage common things in a flat
          </li>
          <li class="subtitle is-5">
            to provide features which bring a flat into collaboration
          </li>
          <li class="subtitle is-5">
            to have a stream-lined non-techical Free and Open Source solution
            for flat collaboration
          </li>
        </dl>
      </div>
    </div>
  </div>
</section>
<section class="hero is-primary is-small is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="content">
        <div class="mb-10">
          <h1 class="title is-1">A Free and Open Source Community Project</h1>
          <p class="subtitle is-4">
            Built for the Community by the Community.
            <br /><br />
            FlatTrack's source code will be Freely available, licensed under
            <span style="text-decoration: underline dotted"
            ><a
               href="https://www.gnu.org/licenses/agpl-3.0.en.html"
               target="_blank"
               rel="noreferrer"
             >AGPL-3.0.</a
                       ></span
                        >
            <br />
            Contributors welcome!
          </p>
          <a
            class="button is-white is-outlined"
            icon-left="help"
            tag="a"
            target="_blank"
            size="is-medium"
            href="https://simple.wikipedia.org/wiki/Free_and_open-source_software"
          >
            What's FOSS?
          </a>
        </div>
        <div>
          <h1 class="title is-2">Contribution</h1>
          <p class="subtitle is-4">
            FlatTrack is a public Open Source project.
            <br />
            If you wish to contribute, please
            head over to the project page:
          </p>
          <a
            class="button is-white"
            tag="a"
            target="_blank"
            size="is-medium"
            href="https://gitlab.com/flattrack/flattrack"
          >
            GitLab project page
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero is-warning is-small">
  <div class="hero-body">
    <div class="container">
      <div class="content">
        <h1 class="title is-1">FlatTrack is under construction</h1>
        <p class="subtitle is-4">
          Currently it's a pretty stable alpha but there is plenty of room for changes.
        </p>
        <br />
        <div class="container">
          <progress class="progress is-primary" value="47" max="100"></progress>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
