{{ define "title" }} {{ .Site.Title }} &mdash; {{ .Title }} {{ end }} {{ define
"main" }}
<section class="hero is-info is-bold">
  <div class="hero-body">
    <p class="title">FlatTrack</p>
    <p class="subtitle">Collaborate with your flatmates</p>
  </div>
</section>
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <nav
        class="breadcrumb is-medium has-arrow-separator"
        aria-label="breadcrumbs"
      >
        <ul>
          <li><a href="/">Home</a></li>
          <li class="is-active"><a>{{ .Title }}</a></li>
        </ul>
      </nav>
      <h1 class="title is-1">{{ .Title }}</h1>
      <h2 class="subtitle is-4">{{ .Params.subtitle }}</h2>
    </div>
  </div>
</section>
<div class="container">{{ .Content | emojify }}</div>

{{ end }}
