{{ define "main" }}
<main aria-role="main" class="">
  <div class="space">
    <header class="secondary-header">
      <h1>{{ .Title }}</h1>
      {{ with .Params.subtitle }}
      <span class="subtitle">{{ . }}</span>
      {{ end }}
    </header>
    <div class="secondary-content">
      {{ .Content }}
    </div>
    <a href="mailto:{{ .Params.contact }}">{{ .Params.contact }}</a>
  </div>
  </main>
{{ end }}
