{{ $subtitle := (index .Params 0) }} {{ $icon := (index .Params 1) }} {{ $link
:= (index .Params 2) }} {{ $linkText := (index .Params 3) }}
<div class="card m-0">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <span class="icon-text">
          <span class="icon">
            <i class="mdi mdi-36px mdi-{{ $icon }}"></i>
          </span>
        </span>
      </div>
      <div class="media-context">
        <p class="subtitle is-5">{{ $subtitle }}</p>
        <p class="title is-4">
          {{- if (not (eq $link "")) }}<a href="{{ $link }}">{{- end }}
            {{ $linkText }}
          {{- if (not (eq $link "")) }}</a>{{- end }}.
        </p>
      </div>
    </div>
  </div>
</div>
